
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        {% block title %}
        🌤 Weather Dashboard
        {% endblock %}
    </title>

    <link rel="stylesheet" href="/static/css/style.css?v={{ asset_version }}">

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>


<body>


<nav class="navbar">


    <a class="logo" href="/">
        <span class="logo-mark">🌤</span>
        Station Météo
    </a>


    <ul>

        <li>
            <a href="/"
               {% if request.url.path == '/' %}class="active"{% endif %}>
                Dashboard
            </a>
        </li>


        <li>
            <a href="/forecast-page"
               {% if request.url.path == '/forecast-page' %}class="active"{% endif %}>
                Forecast
            </a>
        </li>


        <li>
            <a href="/history-page"
               {% if request.url.path == '/history-page' %}class="active"{% endif %}>
                History
            </a>
        </li>


        <li>
            <a href="/anomalies-page"
               {% if request.url.path == '/anomalies-page' %}class="active"{% endif %}>
                Anomalies
            </a>
        </li>
        
        <li>
            <a href="/ai-page"
               {% if request.url.path == '/ai-page' %}class="active"{% endif %}>
                AI Prediction
            </a>
        </li>

        <li>
            <a href="/logs-page"
               {% if request.url.path == '/logs-page' %}class="active"{% endif %}>
                Logs
            </a>
        </li>

    </ul>


</nav>



<main class="container">


    {% block content %}

    {% endblock %}


</main>



</body>

</html>
